<div class="module-content box">
  <div>
    <h1 class="page-heading">Welcome to the STREAM projects Metadata Manager!</h1>

    <p>
    The Metadata Manager prototype was developed to support the aspect of better re-usability of research data. The prototype supports the management and access to heterogeneous research data publications and assists researchers in the selection of relevant data sets for their respective disciplines.
    </p>
    <p>
      The prototype currently offers the following functions:
      <br>
      ·         Supports data collections and publications with different formats.
      <br>
      ·         Harvest metadata from the NOMAD and DSMS data repositories on demand.
      <br>
      ·         RDF Description of datasets using the DCAT vacbulary.
      <br>
      ·         Start mapping process of data from source to RDF using the MatVoc ontology and retrieving the current status of the mapping.
    </p>
    <br>
    <p>
    This website in under development and will be updated regularly. Please also note that the GUI and the functionalities will change.
    </p>
  </div>

  {% block home_image %}
    <section class="featured media-overlay hidden-xs">
      {% block home_image_content %}
        <a class="media-image" href="#">
          <img class="img-responsive" src="/images/STREAM_logo.png" alt="Stream Logo" />
        </a>
      {% endblock %}
    </section>
  {% endblock %}
</div>
